.nav {
  background-color: #0275d8 !important;;
}

.nav-item > a {
  color: #ffffff !important;
  font-weight: 600;
}

.nav-item > a:hover {
  color: #bbbbbb !important;
}

.nav-item > a.active {
  color: #0275d8 !important;
  background-color: #ffffff !important;
} 